@import './static/basics/_reset.scss';
@import './static/scss/_header.scss';
@import './static/scss/_about_us.scss';
@import './static/scss/_footer.scss';
@import './static/scss/_contacts.scss';
@import "./static/scss/_works.scss";


html,
body {
    font-family: 'Playfair Display', serif;
}


body {
    min-height: 400px;
    color: #333;
    font-size: 10px;
}


main {
    min-height: 460px;
    min-width: 302px;
    padding-top: 50px;
}

.container {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}


.main-wrapper {
    height: 100%;
}