

@import url(./home-style.css);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  overflow-x: hidden;
}

body {
  line-height: 1;
  overflow-x: hidden;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.active {
  background-color: #EE6A59;
  color: #3a3f58;
}

.header {
  width: 100vw;
  min-width: 250px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3a3f58;
  padding: 5px;
  position: fixed;
  top: 0;
  left: 0;
}
.header-logo-img {
  width: 97px;
}

.header-menu {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: -moz-max-content;
  width: max-content;
  height: 101px;
  text-decoration: none;
  list-style: none;
  position: absolute;
  top: 15px;
  right: 34px;
  z-index: 2;
  padding: 10px;
  border-radius: 5px;
}
.header-menu .fa-solid {
  color: white;
}
.header-menu-link {
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #3a3f58;
  font-weight: 900;
}
.header-menu-icons .fa-solid {
  color: white;
}
.header-menu-icons-burger {
  display: block;
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 20px;
}
.header-menu-icons-cross {
  display: none;
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 20px;
}
.header-menu li {
  width: 100%;
  height: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
}

@media screen and (min-width: 768px) {
  .header {
    align-items: center;
  }
  .header-menu {
    display: flex;
    flex-direction: row;
    width: 377px;
    height: 22px;
    padding: 0;
  }
  .header-menu-icons-burger {
    display: none;
  }
  .header-menu-icons {
    display: none;
  }
  .header-menu-link {
    color: white;
    font-weight: normal;
  }
}
@media screen and (min-width: 1200px) {
  .header-menu {
    flex-direction: row;
    width: 379px;
    height: 22px;
  }
  .header-menu li {
    width: 77px;
    font-size: 12px;
  }
}
html,
body {
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  background-color: #3a3f58;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  min-width: 250px;
  width: 100%;
  font-size: 10px;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-content p {
  margin: 0;
}

.footer-content ul {
  list-style: none;
  padding: 0;
}

.footer-content li {
  display: inline-block;
  margin-right: 20px;
}

.footer-content li:last-child {
  margin-right: 0;
}

.footer-content a {
  color: #fff;
  text-decoration: none;
}

.active {
  background-color: #EE6A59;
  color: #3a3f58;
}

.header {
  width: 100vw;
  min-width: 250px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3a3f58;
  padding: 5px;
  position: fixed;
  top: 0;
  left: 0;
}
.header-logo-img {
  width: 97px;
}

.header-menu {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: -moz-max-content;
  width: max-content;
  height: 101px;
  text-decoration: none;
  list-style: none;
  position: absolute;
  top: 15px;
  right: 34px;
  z-index: 2;
  padding: 10px;
  border-radius: 5px;
}
.header-menu .fa-solid {
  color: white;
}
.header-menu-link {
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #3a3f58;
  font-weight: 900;
}
.header-menu-icons .fa-solid {
  color: white;
}
.header-menu-icons-burger {
  display: block;
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 20px;
}
.header-menu-icons-cross {
  display: none;
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 20px;
}
.header-menu li {
  width: 100%;
  height: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
}

@media screen and (min-width: 768px) {
  .header {
    align-items: center;
  }
  .header-menu {
    display: flex;
    flex-direction: row;
    width: 377px;
    height: 22px;
    padding: 0;
  }
  .header-menu-icons-burger {
    display: none;
  }
  .header-menu-icons {
    display: none;
  }
  .header-menu-link {
    color: white;
    font-weight: normal;
  }
}
@media screen and (min-width: 1200px) {
  .header-menu {
    flex-direction: row;
    width: 379px;
    height: 22px;
  }
  .header-menu li {
    width: 77px;
    font-size: 12px;
  }
}
.about-us {
  max-width: 1200px;
  width: 85%;
  margin: 0 auto;
  padding: 20px 40px;
  background-color: #ECE6CD;
  margin: 0 auto;
}
.about-us h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 32px;
  font-weight: bold;
  color: #333;
}
.about-us .developer {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.about-us .developer .developer-image {
  flex: 0 0 200px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 30px;
}
.about-us .developer .developer-image img {
  width: 100%;
  height: auto;
}
.about-us .developer .developer-info {
  flex: 1;
}
.about-us .developer .developer-info h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}
.about-us .developer .developer-info p {
  color: #666;
  line-height: 1.6;
}

html,
body {
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  background-color: #3a3f58;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  min-width: 250px;
  width: 100%;
  font-size: 10px;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-content p {
  margin: 0;
}

.footer-content ul {
  list-style: none;
  padding: 0;
}

.footer-content li {
  display: inline-block;
  margin-right: 20px;
}

.footer-content li:last-child {
  margin-right: 0;
}

.footer-content a {
  color: #fff;
  text-decoration: none;
}

.contacts {
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
  padding-top: -10px;
}
.contacts .wrapper-for-contacts {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.contacts .wrapper-for-contacts .contact-form {
  display: flex;
  flex-direction: column;
  background-color: #3a3f58;
  border-radius: 5px;
  width: -moz-min-content;
  width: min-content;
  padding: 5px;
  padding-top: 10px;
  margin: 20px auto;
}
.contacts .wrapper-for-contacts .contact-form-header {
  font-size: 20px;
  margin-bottom: 5px;
  color: #ECE6CD;
}
.contacts .wrapper-for-contacts .contact-form-submit {
  width: 60px;
  background-color: #f9ac67;
  border-radius: 5px;
  border: none;
  height: 25px;
  color: #3a3f58;
  font-weight: 700;
}

.contact-form-input {
  width: 250px;
}

.contact-form-textarea {
  width: 250px;
  height: 100px;
}

.block {
  margin: 5px 0;
  font-family: "Playfair Display", serif;
}

.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}
.social-media-header {
  font-size: 20px;
  margin-bottom: 5px;
  color: #3a3f58;
  padding-bottom: 5px;
}

.fa-brands {
  font-size: 25px;
  margin: 0 5px;
  cursor: pointer;
}

.social-media-icons {
  display: flex;
}

.maps {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 20px;
}
.maps .maps-header {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  color: #3a3f58;
  font-size: 20px;
}

@media screen and (min-width: 768px) {
  .contact-form-input,
  .contact-form-textarea {
    min-width: 500px;
  }
}
.wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 21px;
  min-height: 453px;
}
.wrapper .container {
  width: 206px;
  height: 957px;
  background-color: #3a3f58;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: start;
  position: relative;
}
.wrapper .container .works {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 308px;
}
.wrapper .container .works-btn {
  width: 70px;
  height: 30px;
  background-color: #f9ac67;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #3a3f58;
}

.works-img {
  width: 190px;
  margin-top: 10px;
}

.works-img:nth-child(1) {
  margin-top: 0;
}

.works-img:nth-child(2) {
  margin-top: 0;
}

@media screen and (min-width: 540px) {
  .wrapper .container {
    width: 411px;
    height: 507px;
  }
}
@media screen and (min-width: 768px) {
  .wrapper .container {
    width: 611px;
    height: 363px;
  }
  .wrapper .container .works-img:nth-child(3) {
    margin-top: 0;
  }
}
html,
body {
  font-family: "Playfair Display", serif;
}

body {
  min-height: 400px;
  color: #333;
  font-size: 10px;
}

main {
  min-height: 80px;
  min-width: 302px;
  padding-top: 50px;
}

.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

.main-wrapper {
  height: 100%;
}/*# sourceMappingURL=styles.css.map */