
@import url(../variables/_variables.scss);

.header {
    width: 100%;
    min-width: 206px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3a3f58;
    padding: 5px;
    position: relative;
    &-logo-img {
        width: 97px;
    }
}

.header-menu {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: max-content;
    height: 101px;
    text-decoration: none;
    list-style: none;
    position: absolute;
    top: 15px;
    right: 34px;
    .fa-solid {
        color: white;
    }

    &-link {
        text-decoration: none;
    }
    
    &-icons {
        .fa-solid {
            color: white;
        }
    }

    &-icons-burger {
        display: block;
        position: absolute;
        top: 15px;
        right: 15px;
        font-size: 20px;
    }

    &-icons-cross {
        display: none;
        position: absolute;
        top: 15px;
        right: 15px;
        font-size: 20px;
    }
    li {
        width: 50px;
        height: 21px;
        // background-color: #ee6a59;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        cursor: pointer;
        font-size: 12px;
        a {
            color: white;
        }
    }
}

@media screen and (min-width: 768px) {
    .header {
        align-items: center;
        &-menu {
            display: flex;
    
            flex-direction: row;
            width: 282px;
            height: 22px;
            &-icons-burger {
                display: none;
            }
            &-icons {
                display: none;
            }
        }
    }

    
}

@media screen and (min-width: 1200px) {
    .header-menu {
        li {
            width: 67px;
            
            font-size: 12px;
        }
    }


    .header-menu {
        flex-direction: row;
        width: 295px;
        height: 30px;
    }

}