.wrapper {
    display: flex;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    padding: 5px;
    position: relative;
}

.header-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: max-content;
    height: 61px;
    text-decoration: none;
    list-style: none;
    position: absolute;
    top: 6px;
    right: 4px;
    
}

.header-menu li {
    width: 50px;
    height: 25px;
    background-color: rgb(238, 238, 58);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
}

.header-logo-img {
    width: 33px;
    height: 30px;
}

@media screen and (min-width: 768px) {

    .header-menu {
        flex-direction: row;
        width: 176px;
        height: 15px;
    }
}

@media screen and (min-width: 1200px) {
    .header-menu li {
        width: 67px;
        height: 30px;
        font-size: 12px;
    }
    .header-menu {
        flex-direction: row;
        width: 218px;
        height: 15px;
    }
   
}