* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.about-us-img {
    width: 164px;
    margin: 20px 0;
}

.about-us {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-us-text {
    background-color: gray;
    padding: 5px;
    border-radius: 5px;
}

.about-us-text p {
    font-size: 15px;
}

.container-second {
    padding: 20px;
}

.random_text {
    font-size: 15px;
}

@media screen and (min-width: 768px) {
    .about-us {
        flex-direction: row;
        justify-content: center;
    }

    .about-us-img {
        margin-right: 20px;
    }
    .about-us-text {
        width: 450px ;
        height: 145px;
        text-align: center;
        padding: 15px;
       
        
    }
}


@media screen and (min-width: 1200px) {
    .about-us-img {
        width: 200px;
    }

    .about-us-text {
        width: 500px ;
        height: 173px;
    }
    .about-us-text h2 {
        font-size: 24px;
    }
    .about-us-text p {
        font-size: 17px;
    }
   
}