@import "./footer.scss";
@import "./header.scss";

.about-us {
    max-width: 1200px;
    width: 85%;
    margin: 0 auto;
    padding: 20px 40px;
    background-color: $color-white;
    margin: 0 auto;
  
    h1 {
      text-align: center;
      margin-bottom: 20px;
      font-size: 32px;
      font-weight: bold;
      color: #333;
    }
  
    .developer {
      display: flex;
      align-items: center;
      margin-bottom: 40px;
  
      .developer-image {
        flex: 0 0 200px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 30px;
  
        img {
          width: 100%;
          height: auto;
        }
      }
  
      .developer-info {
        flex: 1;
  
        h2 {
          font-size: 24px;
          margin-bottom: 10px;
          color: #333;
        }
  
        p {
          color: #666;
          line-height: 1.6;
        }
      }
    }
  }
  


@media screen and (min-width: 768px) {}


@media screen and (min-width: 1200px) {}