@import "../variables/variables";



.contact-form {
    display: flex;
    flex-direction: column;
    background-color: $color-dark;
    border-radius: 5px;
    width: min-content;
    padding: 5px;
    padding-top: 10px;
    margin: 20px auto;

    &-header {
        font-size: 20px;
        margin-bottom: 5px;
        color: $color-white;
    }

    &-submit {
        width: 60px;
        background-color: $color-milk;
        border-radius: 5px;
        border: none;
        height: 25px;
        color: $color-dark;
        font-weight: 700;
    }

}

.contact-form-input {
    width: 250px;
}

.contact-form-textarea {
    width: 250px;
    height: 100px;
}



.block {
    margin: 5px 0;
    font-family: 'Playfair Display', serif;
}

.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;

    &-header {
        font-size: 20px;
        margin-bottom: 5px;
        color: $color-dark;
        padding-bottom: 5px;
    }
}



.fa-brands {
    font-size: 25px;
    margin: 0 5px;
    cursor: pointer;

}

.social-media-icons {
    display: flex;

}

.contacts {
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;

    .wrapper-for-contacts {
        display: flex;
        flex-direction: column;
        justify-content: start;
    }
}

.maps {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 20px;

    .maps-header {
        display: flex;
        justify-content: center;
        padding-bottom: 10px;
        color: $color-dark;
        font-size: 20px;
    }

}

@media screen and (min-width: 768px) {

    .contact-form-input,
    .contact-form-textarea {
        min-width: 500px;
    }

}