@import "../variables/variables";

.wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 21px;
    min-height: 450px;

    .container {
      
        width: 206px;
        height: 957px;
        background-color: $color-dark;
        padding: 10px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: start;
        position: relative;


        .works {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            height: 308px;


        }
        .works-btn {
            width: 70px;
            height: 30px;
            background-color: $color-milk;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            position: absolute;
            bottom: 10px;
            left: 10px;
            color: $color-dark;

        }
    }

}


.works-img {
    width: 190px;
    margin-top: 10px;
}

.works-img:nth-child(1) {
    margin-top: 0;
}

.works-img:nth-child(2) {
    margin-top: 0;
}



@media screen and (min-width: 540px) {
    .wrapper {
        .container {
            width: 411px;
            height: 507px;
        }
    }
   
}

@media screen and (min-width: 768px) {
    .wrapper {
        .container {
            width: 611px;
            height: 363px;
            .works-img:nth-child(3) {
                margin-top: 0;
            }
        }
    }
   
}

@media screen and (min-width: 1200px) {}